/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@300;400;700;900&display=swap');

/* Common Style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.title {
    color: #333;
    font-weight: bold;
    font-family: 'Cookie', cursive;
}

.btn {
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #50a46e, #0f8038);
}

.btn:hover {
    opacity: 1;
}

.half-width {
    width: 50%;
}

.common-width {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/* Banner Section */
#banner {
    padding: 70px 0 80px;
}

.banner-left h3 {
    font-size: 70px;
    margin-bottom: 20px;
}

.banner-left h3 span {
    color: #0f8038;
}

.banner-left p {
    color: #333;
    font-size: 16px;
    margin-bottom: 50px;
}

.banner-right img {
    width: 80%;
}

/* About Section */
.about-left img {
    width: 100%;
    margin-left: -30%;
}

.about-right h3 {
    font-size: 50px;
    margin-bottom: 40px;
}

.about-right p {
    color: #333;
    line-height: 1.5;
    margin-bottom: 40px;
}

#about {
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/about-bg.jpg);
}